body{
    font-family: Open sans, sans-serif;
    font-weight: 600;
    font-style: normal;
}
header{
    width: 1920px;
    height: 80px;
    margin-left: -190px;
    margin-top: 50px;
    margin-bottom: -40px;
}
.logo-header{
    margin-left: 376px;
    position: absolute;
}
.nav{
    display: flex;
    column-gap: 60px;
    margin-left: 752px;
    font-size: 15px;
    line-height: 20.43px;
}
.btn-header{ 
    background-color: #3172B9;
    color: white;
    padding: 15px, 35px, 15px, 35px;
    width: 150px;
    height: 50px;
    float: right;
    font-size: 15px;
    margin-left: 1205px;
    margin-right: 235px;
    position: relative;
    margin-top: -50px;
}
.btn-section{
    background-color: #3172B9;
    color: white;
    padding: 15px, 35px, 15px, 35px;
    width: 250px;
    height: 58px;
    margin-top: 20px;
    font-size: 15px;
}
.cont-section{
    width: 1540px;
    height: 550px;
    background-image: url(./sectfon.svg);
    padding-left: 185px;
}
.h1{
    width: 529px;
    height: 104px;
    padding-top: 113px;
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
}
.txt-section{
    font-size: 16px;
    margin-top: 60px;
    font-weight: 400;
    line-height: 24.8px;
}
.txt-section-ssl{
    margin-left: 40px;
    margin-top: 20px;
}
h2{
    font-size: 36px;
    font-weight: 300;
    line-height: 46.8px;
}
.art-serv{
    width: 1170px;
    height: 464px;
    border: 1px;
    border-color: #E4E4E4;
    margin-left: 185px;
    text-align: center;
}
.hserv{
    text-align: center;
}
.Services{
    display: flex;
    column-gap: 30px;
}
.serv-cont{
    width: 270px;
    height: 320px;
    border: 1px solid #E4E4E4;
    padding-top: 80px;
}
h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}
.lorem-serv{
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.art-art{
    margin-top: 240px;
    width: 1170px;
    height: 567px;
    border-top: 1px solid #E4E4E4;
    /* border-bottom: 1px solid #E4E4E4; */
    margin-left: -190px;
    padding-left: 380px;
    padding-top: 150px;
}
.art-cont{
    width: 570px;
    height: 180px;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
    display: flex;
}
.art-cont-txt{
    display: block;
    padding-left: 15px;
    padding-top: 15px;
}
.data-art{
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: -15px;
}
.lorem-art{
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}
.globalcont-art{
    width: 1920px;
    height: 567px;
    display: flex;
    column-gap: 30px;
}
.clients{
    width: 1920px;
    height: 700px;
    margin-left: -190px;
    padding-left: 380px;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    padding-top: 200px;
    margin-top: 200px;
}
.clients-main-cont{
    display: flex;
    column-gap: 53px;
}
.cont-clients{
    width: 370;
    height: 362;
    border: 1px solid #E4E4E4;
    padding: 40px 40px 30px 30px;
}
.txt-clients{
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
}
.line-clients{
    width: 297;
    height: 1px;
    border-bottom: solid #DADADA;
    opacity: 60%;
}
.cust-name{
    display: flex;
}
.cust-name-for-marg{
    margin-left: 20px;
}
.Customer-name{
    font-size: 17px;
    font-weight: 600;
    line-height: 30.6px;
}
.Customer{
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
}
.photoCus3{
display: inline-block;
border-radius: 50%;
overflow: hidden;
width: 67px;
height: 67px;
border: 2px solid #3172B9;
position: relative;
margin-top: 10px;
}
.contacts{
    width: 1920px;
    height: 476px;
    margin-left: -190px;
    padding-left: 380px;
}
.cont-cont{
    display: flex;
    column-gap: 220px;
}
h4{
    font-size: 17px;
    font-weight: 600;
    line-height: 30.6px;
}
.txt-contacts{
    font-size: 14px;
    font-weight: 400;
    line-height: 25.2px;
}
.visit{
    width: 214px;
    height: 159px;
}
.call{
    width: 121px;
    height: 159px;
}
.email{
    width: 170px;
    height: 159px;
}
footer{
    width: 1920px;
    height: 89px;
    margin-left: -190px;
    padding-left: 380px;
    display: flex;
    column-gap: 70px;
    margin-bottom: 35px;
}
.rights{
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    /* position: relative; */
    /* margin-bottom: -35px; */
    margin-right: 50px;
    margin-left: -35px;
}
.foot-ul{
    display: flex;
    column-gap: 40px;
}
.foot-icon{
    position: relative;
    margin-bottom: 35px;
    display: flex;
    column-gap: 25px;
}
